.venv

data

.vscode
.claudesync
.claudeignore

# JetBrains
.idea/

# pytest
.pytest_cache

# Coverage reports
.coverage
htmlcov/
*.cover
.coverage.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# iRacing
*.ibt

*.parquet
data_out/

# pants
/.pants.d
/dist/
.aider*
