[tool.black]
line-length = 100

[tool.ruff]
line-length = 100

[tool.ruff.lint]
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    "I",
]

[tool.basedpyright]
typeCheckingMode = "standard"
pythonVersion = "3.13"
# enableTypeIgnoreComments = true
# reportMissingImports = "error"
# reportUnknownMemberType = "error"
