# Common tasks for JavaScript projects using npm
# Inherited by projects with tags: ['javascript'] (via tag-* filename convention)
$schema: '../cache/schemas/tasks.json'

tasks:
  build:
    inputs:
      - 'src/**/*'
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'
    outputs:
      - 'dist'
    deps:
      - '~:install'
    options:
      cache: true

  dev:
    command: 'npm run dev'
    inputs:
      - 'src/**/*'
      - 'package.json'
    deps:
      - '~:install'
    options:
      persistent: true
      cache: false

  install:
    command: 'npm install'
    inputs:
      - 'package.json'
      - 'package-lock.json'
    outputs:
      - 'node_modules'
    options:
      cache: false
